<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Country Data</title>
</head>

<body>
  <h1><span th:text="${countryMain.countryName}">France</span></h1>
  <div th:text="${countryMain.introduction}"></div>
  <br>
  <div th:text="${government}"></div>
  <br>
  <div th:text="${society}"></div>
  <br>
  <div th:text="${government}"></div>
  <br>
  <div th:text="${economy}"></div>
  <br>
  <div th:text="${energy}"></div>
  <br>
  <div th:text="${communications}"></div>
  <br>
  <div th:text="${transportation}"></div>
  <br>
  <div th:text="${military}"></div>
  <br>
  <div th:text="${transnational}"></div>
</body>
</html>