<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Country Select</title>
</head>
<body>
    <h1>Welcome to Factbook-Web</h1>
    <form style="display:inline-block" th:action="@{/country}" method="get" Id="SelectCountry">
        <select class="countries" name="countryName" onchange="doPageSubmit()">
            <option value="0">Select Country</option>
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
    </form>

</body>
<script>
function doPageSubmit(){
    document.getElementById("SelectCountry").submit();
}
</script>
</html>