<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Country Select</title>
</head>
<body style = "background-color: #ebebe0" >
<table width = "100%">
<tr><td>
    <img th:src="@{/images/erudos.png}" style="width:25%;height:45%;"/>

</td>
<td align="right"><h2>The World Fact Book</h2></td>
</tr>
    <tr><td colspan="2"><hr></td></tr>
</table>

    <h1 th:text="#{greeting}"></h1>
    <form style="display:inline-block" th:action="@{/country}" method="get" Id="SelectCountry">
        <select class="countries" name="countryName" onchange="doPageSubmit()">
            <option value="0" th:text="#{select}"></option>
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
    </form>

    <br>
    <h3>Select Countries for comparison</h3>
    <form th:action="@{/compare}" method="get">
        <div style="height:360px;width:300px;border:1px solid #ccc;overflow:auto;">
            <div th:each="country : ${countries}" >
                <input type="checkbox" th:value="${country}" th:name="countryNames"/>
                <label th:text="${country}"></label>
            </div>
        </div>
        <br />
        <input type="submit" />
    </form>

    <br>
    <h3>Use advanced query builder <a th:href="@{/queryBuilder}">here</a> </h3>


</body>

<script>
    function doPageSubmit(){
        document.getElementById("SelectCountry").submit();
    }
</script>

</html>